/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Dosis|Assistant:200|Arvo|Playfair+Display|Poppins|Quicksand&display=swap');

html {
	scroll-behavior: smooth;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
 }
 a:hover {cursor: pointer;}
 #body_container {
    min-height: 100%;
    width: 100%;
    position: relative;
}
#header {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
#header::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 118%;
    background: #005591;
    left: 50px;
    top: -16px;
    margin: 0px 0 0 0;
}
#header p.p1 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 30px;
    font-size: 20px;
    padding-bottom: 50px; 
}
#header p.p1 a {color: black;}
#header h1 {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0px 20px 40px;
    margin-left: 40px;
    font-size: 50px;
    line-height: 50px;
}
#header h1, #header .p2 {width: 80%;}
#header p.p2 {
    padding: 0px 25px 20px 40px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#body_content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 600px;
    font-family: 'Poppins', sans-serif;
}
#body_content P {
    font-size: 18px;
    text-align: center;
}
br.responsive_br{
    display: none;
}
.form {
    /* border: 1px solid red; */
    width: 60%;
    margin: 0 auto;
}
form {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
.input-section {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
}
form p {
    font-size: 18px;
    text-align: center;
}
form input {
    width: 100%;
    height: 100%;
    color: #005591;
    padding-top: 30px;
    border: none;
    outline: none;
    font-size: 20px;    
}
form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    border-bottom: 1px solid black;
    cursor: auto;
}
form label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #005591;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
span.content-input {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    transition: all 0.3s ease;
    font-size: 20px;
}
form input:focus + .label-name .content-input,
form input:valid + .label-name .content-input  {
    transform: translateY(-30%) scale(.95);
    color: #005591;
}
form input:focus + .label-name::after,
form input:valid + .label-name::after{
    transform: translateX(0%);
}
form input:invalid + .label-name {
    border-bottom: 1px solid red;
}

span.red_txt {color: rgb(186, 0, 0);}

.player_register{
    padding-top: 50px;
}
#player_team {
    position: absolute;
    bottom: 0px;
}

.input-section:nth-of-type(18) label {
    border-bottom: 0px solid black;
    margin-bottom: 20px;
}
select#player_team {
    font-size: 20px;
    outline: none;
}
form button {
    padding: 10px 20px;
    width: 300px;
    border-radius: 50px;
    outline: none;
    background-color: white;
    color: black;
    border: 2px solid #005591;
    font-size: 20px;
    transition-duration: 0.4s;
    margin-right:  auto;
    margin-left:  auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    cursor: pointer;
}
form button:hover {
    background-color: #005591; /* Green */
    color: white;
    border: 2px solid #7ec9ff;
}

@media only screen and (max-width: 1024px)  {
    #header::before {
        width: 2px;
        left: 30px;
    } 
    #header::before {
        width: 2px;
        left: 30px;
    } 
    #header h1 {
        padding: 30px 20px;
        margin-left: 30px;
        font-size: 40px;
        line-height: 40px;
    }
    #header p.p1 {font-size: 18px;}
    #header p.p2 {padding: 0 25px 20px 10px;}
    #body_content h1 {
        font-size: 20px;
    }
    .form {
        width: 73%;
    }
    form input, span.content-input {
        font-size: 18px;
    }
    form input:focus + .label-name .content-input,
    form input:valid + .label-name .content-input  {
    transform: translateY(-50%);
    font-size: 16px;
    }
    #form p {
        font-size: 15px;
    }
    form input {
        padding-top: 40px;
    }
    span.content-input{
        bottom: 30px;
    }
    form button {
        font-size: 18px;
    }
}
@media only screen and (max-width: 750px) {
    #header::before {
        width: 2px;
        height: 100%;
        left: 20px;
        top: -1px;
    }
    #header {
        margin-bottom: 20px;
        margin-top: 120px;
    }
    #header p.p1, #header p.p2 {
        font-size: 15px;
    }
    #header h1 {
        padding: 40px 0px 0px 0px;
        margin-left: 40px;
        font-size: 30px;
        width: 80%;
        line-height: 30px;
    }
    #header p.p2 {padding: 10px 25px 20px 0px;}
    br.responsive_br{
        display: block;
    }
    #body_content p{
        font-size: 15px;
    }
    .form {
        width: 90%;
    }
    .form h1 {
        font-size: 18px;
        text-align: center;
    }
    #form p {
        font-size: 13px;
    }
    #form p a {
        font-weight: 600;
        text-decoration: underline;
    }
    form input, span.content-input {
        font-size: 15px;
    }
    form input:focus + .label-name .content-input,
    form input:valid + .label-name .content-input  {
    transform: translateY(-40%);
    font-size: 14px;
    }
    .input-section:nth-of-type(18) label {
        top: 5px;
    }
    select#player_team {
        font-size: 17px;
    }
    form button {
        font-size: 14px;
    }

}
@media only screen and (max-width: 390px) {
    #header::before {
        width: 2px;
        height: 100%;
        left: 11px;
        top: 16px;
    }
    #header {
        margin-bottom: 30px;
        margin-top: 100px;
    }
    #header h1 {
        padding: 30px 0px 10px 20px;
        margin-right: auto;
        margin-left: 0;
        font-size: 27px;
        line-height: 25px;
        width: 100%;
    }
    #header p.p1, #header p.p2 {font-size: 13px;} 
    #header p.p2 {
        padding: 0 0;
        margin-left: 20px;
        width: 80%;
    }
    #body_content h1 {
        font-size: 15px;
        text-align: center;
    }
    .form {
        width: 100%;
    }
    #form p {
        line-height: 30px;
    }
    .input-section{
        margin-bottom: 15px;
    }
    form input, span.content-input {
        font-size: 14px;
    }
    form input:focus + .label-name .content-input,
    form input:valid + .label-name .content-input  {
    transform: translateY(-10%);
    font-size: 14px;
    }
    .input-section:nth-of-type(18) label {
        top: 10px;

    }
    select#player_team {
        font-size: 13px;
        width: 100%;;
    }
    form button {
        margin-top: 0px;
    }
}