/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Dosis|Assistant:200|Arvo|Playfair+Display|Poppins|Quicksand&display=swap');

html {
	scroll-behavior: smooth;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
 }
#body_container {
    min-height: 100%;
    width: 100%;
    position: relative;
}
#header {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
#header::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 118%;
    background: #005591;
    left: 50px;
    top: -16px;
    margin: 0px 0 0 0;
}
#header p.p1 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 30px;
    font-size: 20px;
    padding-bottom: 50px; 
}
#header p.p1 a {color: black;}
#header h1 {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0px 20px 40px;
    margin-left: 40px;
    font-size: 50px;
    line-height: 50px;
}
#header h1, #header .p2 {width: 80%;}
#header p.p2 {
    padding: 0px 25px 20px 40px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#body_content {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 600px;
    display: flex;
}
#body_content img.img1 {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.body_content_flex {
    display: flex;
    line-height: 30px;
    width: 100%;

}
.body_content_information {
    width: 100%;
}
.body_content_information h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}
.body_content_information h3 a {
    color: black;
    text-decoration: underline;
}
span.red_txt {color: red;}
.body_content_information p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 20px;
}
img.img2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

@media only screen and (max-width: 1024px) {
    #header::before {
        width: 2px;
        left: 30px;
    } 
    #header::before {
        width: 2px;
        left: 30px;
    } 
    #header h1 {
        padding: 30px 20px;
        margin-left: 30px;
        font-size: 40px;
        line-height: 40px;
    }
    #header p.p1 {font-size: 18px;}
    #header p.p2 {padding: 0 25px 20px 10px;}
    .body_content_information h3 {
        font-size: 25px;
    }
    .body_content_information p {
        font-size: 19px;
    }
}
@media only screen and (max-width: 750px) {
    #header::before {
        width: 2px;
        height: 100%;
        left: 20px;
        top: -1px;
    } 
    #header {
        margin-bottom: 20px;
        margin-top: 120px;
    }
    #header p.p1, #header p.p2 {
        font-size: 15px;
    }
    #header h1 {
        padding: 40px 0px 0px 0px;
        margin-left: 40px;
        font-size: 30px;
        width: 80%;
        line-height: 30px;
    }
    #header p.p2 {padding: 10px 25px 20px 0px; width: 80%;}
    #body_content img.img1{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .body_content_information {
        width: 93%;
    }
    .body_content_information h3 {
        font-size: 23px;
        padding-bottom: 0px;
    }
    .body_content_information p {
        font-size: 17px;
    }
}
@media only screen and (max-width: 390px) {
    #header::before {
        width: 2px;
        height: 100%;
        left: 11px;
        top: 16px;
    }
    #header {
        margin-bottom: 50px;
        margin-top: 100px;
    }
    #header h1 {
        padding: 30px 0px 10px 20px;
        margin-right: auto;
        margin-left: 0;
        font-size: 27px;
        line-height: 25px;
        width: 100%;
    }
    #header p.p1, #header p.p2 {font-size: 13px;} 
    #header p.p2 {
        padding: 0 0;
        margin-left: 20px;
        width: 80%;
    }
    #body_content{
        display: block;
    }
    #body_content img.img1 {
        float: left;
        margin-bottom: 10px;

    }
    .body_content_flex {
        display: block;
    }
    .body_content_information h3 {
        font-size: 20px;
        text-align: center;
    }
    .body_content_information h3:first-child{
        margin-bottom: 21px;

    }
    .body_content_information p {
        font-size: 15px;
        line-height: 22px;
    }
    img.img2 {
        height: 250px;
        width: 100%;
    }
}