/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Dosis|Assistant:200|Arvo|Playfair+Display|Poppins|Quicksand&display=swap');

html {
	scroll-behavior: smooth;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
 }

#body_container {
    min-height: 100%;
    width: 100%;
    position: relative;
}
/* body  */
#header {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
#header::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 118%;
    background: #005591;
    left: 50px;
    top: -16px;
    margin: 0px 0 0 0;
}
#header p.p1 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 30px;
    font-size: 20px;
    padding-bottom: 50px; 
}
#header p.p1 a {color: black;}
#header h1 {
    font-family: 'Poppins', sans-serif;
    padding: 40px 0px 20px 40px;
    margin-left: 40px;
    font-size: 50px;
    line-height: 50px;
}
#header h1, #header .p2 {width: 90%;}
#header p.p2 {
    padding: 0px 25px 20px 40px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#body_content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 600px; /*pushes the footer down */
}
.body_content_flex  {
    display: flex;
    margin-bottom: 40px;
}

#body_content img {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    margin-top: 10px;
}

.body_content_information h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.body_content_information p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: justify;
}
.body_content_information span.red-link a{
    color: red;
}
.body_content_information span.boldtxt {
    font-weight: 600;
}
.body_content_information ul {
    margin-left: 50px;
}
.body_content_information ul li {
    list-style-type: unset;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    #header::before {
        width: 2px;
        left: 30px;
    }
    #header {
        margin-top: 120px;
        margin-bottom: 50px;
    } 
    #header h1 {
        padding: 30px 20px;
        margin-left: 30px;
        font-size: 40px;
        line-height: 40px;
    }
    #header p.p1 {font-size: 18px;}
    #header p.p2 {padding: 0 25px 20px 10px;}
    #header h1, #header .p2 {width: 85%;}
    #body_content {
        padding-bottom: 500px; /*pushes footer down */
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    #body_content img{
        width: 60px;
        height: 60px;
        /* margin-right: 20px;
        margin-top: 10px;  */
    }
    .body_content_information h3 {
        font-size: 25px;
    }
    .body_content_information p {
        font-size: 19px;
    }
}

@media only screen and (max-width: 750px) {
    #header::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: #005591;
        left: 20px;
        top: -1px;
        margin: 0px 0 0 0;
    }
    #header {
        margin-bottom: 20px;
    }
    #header p.p1, #header p.p2 {
        font-size: 15px;
    }
    #header h1 {
        padding: 40px 0px 0px 0px;
        margin-left: 40px;
        font-size: 30px;
        width: 70%;
        line-height: 30px;
    }
    #header h1, #header .p2 {width: 80%;}

    #header p.p2 {padding: 0 25px 20px 0px;}
    #body_content {
        margin-left: 20px;
        margin-right: 20px;
        width: 90%;
    }
    #body_content img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        margin-top: 5px;
    }
    .body_content_information h3 {
        font-size: 23px;
    }
    .body_content_information p, .body_content_information ul li {
        font-size: 17px;
    }
}
@media only screen and (max-width: 390px) {
    #header::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 72%;
        background: #005591;
        left: 11px;
        top: 16px;
        margin: 0px 0 0 0;
    }
    #header h1 {
        padding: 25px 0px 10px 20px;
        margin-right: auto;
        margin-left: 0;
        font-size: 27px;
        line-height: 25px;
    }
    #header p.p1, #header p.p2 {font-size: 10px;} 
    #header p.p2 {
        padding: 0 20px 20px 0px;
        margin-left: 20px;
    }
    #body_content {
        width: 90%;
        margin: 0 auto;
    }
    .body_content_flex {
        display: block;
    }
    #body_content img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        float: left;
    }
    .body_content_information h3 {
        font-size: 20px;
    }
    .body_content_information p, .body_content_information ul li {
        font-size: 15px;
    }

}